
!terraform.tfvars.example
# Lambda build
# Local
# Terraform
*.tfplan
*.tfstate
*.tfstate.*
*.tfvars
*.zip
.DS_Store
.terraform.lock.hcl
.terraform/
.trestle-work/
crash.log
terraform/lambda/handler.zip
tfplan
tfplan*
